body{
    display: flex;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    flex: 0 0 280px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 5px;
    gap: 30px;
}
/* display screen */
.display {
    flex: 0 0 100px;
    border: 1px solid black;
}

#expression, #result {
    text-align: end;
    margin-right: 16px;
    height: 20px;
}

/* buttons */

.buttons {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.utils {
    display: flex;
    gap: 10px;
}

.utils button {
    width: 60px;
}

.numbers {
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
}

.numbers button {
    width: 60px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.operators button {
    width: 50px;
}